@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
	font-family: 'Ubuntu', Arial, serif;
	background-color:#5af; /*arrière plan bleu clair*/
	color:#005; /*texte en bleu foncé*/
}

p {
	padding-left:5em;
}

header{
	position:sticky;
	top:0px;
	background:rgba(85, 170, 255,0.7);
	max-height:5em;
}

#title { /*en haut de la page*/
	color:#fff;
	font-weight:bold;
	font-size:150%;
	text-align:left;
	margin:0px;
	position:absolute;
	top:5px;
	left:3em;
	padding:0px;
}

header h1{
	margin:0px;
	text-align:right;
}

nav{ /*positionner le nav en haut a gauche*/
	display:inline-block;
	position:absolute;
	top:5px;
}

nav .but{ /*boutton [o]*/
	display:inline-block;
	line-height:3em; /*centrer le o verticalement*/
	width:3em;
	height:3em;
	border:#005 solid 2px;
	text-align:center;
	vertical-align:middle;
}

nav .bar{
	display:none;
	margin:0;
	background-color:#fff;
	list-style-type:none;
	padding:0px;
}

nav:hover .bar{
	display:block;
}

.bar li{
	padding:0 10px 0 10px;
}

.bar li:hover{
	background-color:#005;
	/*border:bottom solid 1px #222;*/
}
.bar li a{
	color:#005;
	font-size:100%;
	display:block;
	line-height:2em;
	text-decoration:none;
}

.bar li:hover a, a{
	color:#fff;
}

nav:hover .but{
	color:#fff;
	background-color:#005;
}

.sommaire:visited {
	color:#06F;
}

.sommaire>a:hover {
	background-color:#000;
	color:#fff;
	padding:5px 1em 10px 1em;
}

h1, .sommaire a{ /*Titres des chapitres*/
	font:2em "Segoe UI Black","Arial Black",serif;
	color:#FF0;
	text-decoration:underline;
	}

h1, .sommaire {text-align:center;}

.rq{
	margin-left:10%;
}

.def,.prop,.ex { /*Paragraphes encadrés*/
	margin:auto;
	margin-bottom:1em;
	max-width:900px;
	transition:1s;
	border-radius:15px;
	box-shadow:2px 2px 3px #035;
	padding-top:3px; /*Bordure haute du titre*/

	background-color: #068; /*Anciennement titre et Boite séparées, désormais fusionnés*/
	font-weight:bold;
	color:#fff;
	border-radius:15px;
	border:1px solid #068;
}

.def::before, .prop::before, .ex::before{
	content:"\00a0";
}

.def:hover,.prop:hover { /*Effet zoom*/
	font-size:120%;
	max-width:1080px;
	transition:.3s;
}

.def {
	box-shadow:2px 2px 3px #C00;
	background-color:#E00;
	border:1px solid #E00;
}

.ex {
	box-shadow:none;
	background-color:#0A0;
	border:1px solid #0A0;
}

.tl{ /*Corps des paragraphes encadrés*/
	margin-bottom:0;
	margin-top:5px; /*Bordure basse du titre*/
	font-weight:initial;
	color:#005;
	/*padding-left:5px;*/
	padding:10px 1em 10px 1em;
	background-color:#CFF;
	border-radius: 0 0 15px 15px;
	list-style-type:">";
}

.def > .tl{
	border-color:#C00;
	background-color:#E8E8E8;
	color:#500;
}

em {font-weight : bold;color:#03F;}
.def .tl > em{color:#C00;}

ol.order_1 {
	list-style-type:upper-roman; /*I*/
}
ol.order_2 {
	list-style-type:upper-latin;/*A*/
}
ol.order_3 {
	list-style-type:decimal; /*1*/
}

/*.order_3>::marker {
	color:black;
}*/

ol.order_4 {
	list-style-type:lower-roman; /*i*/
}

ul.nobullet {
	list-style-type:none;
}

li.then {
	list-style-type:"\21D2";
}

#signature {
	color:#222;
	text-align:right;
	font-size:1em;
	bottom:5px;
	position:sticky;
}

/*Fractions, source : https://stackoverflow.com/questions/7525977/how-to-write-fraction-value-using-html */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid #005;
}
.frac span.symbol {
    display: none;
}

/*.indexed {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.1em;
    text-align: center;
}

.indexed > span {display:block;}

.indexed span.top, .indexed span.bottom {font-size:70%;}*/
/*.indexed {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.indexed > span {display:block;}

.indexed span.top, .indexed span.bottom {font-size:70%;}
.indexed span.bottom {
	position:relative;
	padding-top:20%;
}*/

.sqrt{
	border-top:thin solid;
}

.sqrt::before{
	content:"√";
	border-top:thin solid #fff;
}
/**/
/*
.funct{
	display:inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.funct > span {
	display:block;
}

.det {
	display:inline-block;
	border-left:solid 1px #005;
	border-right:solid 1px #005;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}

.matrix {
	display:inline-block;
	border-left:solid 1px #005;
	border-right:solid 1px #005;
	border-radius:5px;	
	padding-left:3px;
	padding-right:3px;
}
*/
table.func{
	display:inline-block;
	vertical-align:middle;
	border-collapse:collapse;
	text-align:center;
}
table.func td{
	padding:0px;
}

table.indexed{
	font-size:3em;
	display:inline-block;
	vertical-align:middle;
	border-collapse:collapse;
	text-align:center;
}
table.indexed tr.index{
	line-height:50%;
	font-size:50%;
	margin:2em;
}

table.det,table.matr{
	border-left:solid black 1px;
	border-right:solid black 1px;
	display:inline-block;
	vertical-align:middle;
	border-collapse:collapse;
	text-align:center;
}
table.matr{
	border-radius:5px;
	padding:3px;
}